@use '../../styles/variables' as variables;
@use '../../styles/extends' as extend;

.labelInput {
  display: flex;
  flex-direction: column;
  font-size: variables.$fontSize-S;
  min-height: 6.4rem;
  line-height: variables.$lineHeight-M;
  margin-bottom: 1.2rem;
  position: relative;

  &__input {
    @extend %input;
  }

  &__invalid {
    border-color: variables.$invalidInput;
  }

  &__error {
    color: variables.$invalidInput;
    position: absolute;
    top: 60px;
  }

  &__errorCheckbox {
    color: variables.$invalidInput;
    position: absolute;
    top: 40px;
    left: 0;
  }

  &__checkboxInput {
    position: absolute;
    appearance: none;

    &:checked + .labelInput__checkbox {
      background-image: url('/checked.svg');
      background-position: center;
    }
  }

  &__checkbox {
    position: absolute;
    left: 0;
    top: 5px;
    width: 1em;
    height: 1em;
    border: 1px solid variables.$info-color;
    border-radius: 3px;
  }

  &__indent {
    margin-bottom: 2.1rem;
    gap: 4px;
  }
}

.labelCheckbox {
  display: block;
  position: relative;
  font-size: variables.$fontSize-S;
  line-height: variables.$lineHeight-M;
  margin-top: -2px;
  color: #595959;
  margin-bottom: 2.1rem;
  padding-left: 23px;
  cursor: pointer;
}
