@use '../../styles/variables' as variables;
@use '../../styles/extends' as extend;

.form {
  max-width: 38.4rem;
  max-height: 59.9rem;
  @extend %shadow;
  margin: 5.9rem auto 23.9rem;
  background-color: variables.$backgroundColorBase;
  border: 1px solid #d9d9d9;
  border-radius: 0.6rem;
  box-sizing: border-box;

  &__container {
    padding: 4.8rem 3.2rem;
  }

  &__title {
    text-align: center;
    font-weight: variables.$fontWeightSemibold;
    font-size: variables.$fontSize-L;
    color: #262626;
    margin: 0;
    margin-bottom: 2.5rem;
  }

  &__text {
    text-align: center;
    font-size: variables.$fontSize-XS;
    line-height: variables.$lineHeight-S;
    color: #8c8c8c;
    margin: 0;
    margin-top: 8px;
  }

  &__link {
    color: variables.$info-color;
    font-size: variables.$fontSize-XS;
    line-height: variables.$lineHeight-S;
    text-decoration: none;
  }
}
