@use '../../styles/variables' as variables;
@use '../../styles/extends' as extend;

.post {
  max-width: 93.8rem;
  background-color: variables.$backgroundColorBase;
  margin: 2.6rem auto 1.6rem;
  box-shadow: 0 4px 12px 0 #00000026;

  &__wrapper {
    padding: 1.5rem 1.4rem 1.5rem 1.6rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__containerDescription {
    max-width: 68.2rem;
  }

  &__containerTitle {
    @extend %container_title;
  }

  &__title {
    margin: 0;
    @extend %title;
    @extend %text_extend;
  }

  &__tag {
    @extend %tag;
    @extend %text_extend;
  }

  &__text {
    margin: 1.3rem 0 0;
    @extend %text;
  }

  &__containerUser {
    padding-bottom: 3rem;
    @extend %userContainer;
  }

  &__user {
    margin-right: 1.2rem;
    @extend %text_extend;
  }

  &__name {
    @extend %name;
  }

  &__date {
    @extend %date;
  }

  &__containerBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
  }
}
