$backgroundColorBase: #FFFFFF;
$backgroundColorContent: #ebeef3;
$successColor: #52C41A;
$info-color: #1890FF;
$text-color: rgba(0, 0, 0, 0.75);
//font-size
$fontSize-XS: 1.2rem;
$fontSize-S: 1.4rem;
$fontSize-M: 1.8rem;
$fontSize-L: 2rem;

//line-height
$lineHeight-XS: 1.45rem;
$lineHeight-S: 2rem;
$lineHeight-M: 2.2rem;
$lineHeight-L: 2.4rem;
$lineHeight-XL: 2.8rem;