$backgroundColorBase: #FFFFFF;
$backgroundColorContent: #ebeef3;
$successColor: #52C41A;
$info-color: #1890FF;
$borderColor: #D9D9D9;
$placeholderColor: #BFBFBF;
$textDescription: #000000BF;
$textAdditional: #00000080;
$invalidInput: #F5222D;

//font-size
$fontSize-XS: 1.2rem;
$fontSize-S: 1.4rem;
$fontSize-M: 1.8rem;
$fontSize-L: 2rem;

//line-height
$lineHeight-XS: 1.45rem;
$lineHeight-S: 2rem;
$lineHeight-M: 2.2rem;
$lineHeight-L: 2.4rem;
$lineHeight-XL: 2.8rem;

//font-weight
$fontWeightSemibold: 500;