$backgroundColorBase: #ffffff;
$backgroundColorContent: #ebeef3;
$successColor: #52c41a;
$info-color: #1890ff;
$borderColor: #d9d9d9;
$placeholderColor: #bfbfbf;
$textDescription: #000000bf;
$textAdditional: #00000080;
$invalidInput: #f5222d;
$headingColor: #000000d9;
$articleTitle: #262626;

//font-size
$fontSize-XS: 1.2rem;
$fontSize-S: 1.4rem;
$fontSize-M: 1.8rem;
$fontSize-L: 2rem;

//line-height
$lineHeight-XS: 1.45rem;
$lineHeight-S: 2rem;
$lineHeight-M: 2.2rem;
$lineHeight-L: 2.4rem;
$lineHeight-XL: 2.8rem;

//font-weight
$fontWeightSemibold: 500;
