@use '../../styles/variables' as variables;
@use '../../styles/extends' as extend;

.card {
  max-width: 93.8rem;
  min-height: 14rem;
  margin: 0 auto 2.6rem;
  background-color: variables.$backgroundColorBase;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__info {
    max-width: 68.2rem;
    padding: 1.5rem 0 2.4rem 1.6rem;
    box-sizing: border-box;
  }

  &__containerTitle {
    @extend %container_title;
  }

  &__title {
    text-decoration: none;
    max-height: 2.8rem;
    @extend %title;
    @extend %text_extend;
  }

  &__tag {
    @extend %tag;
    @extend %text_extend;
  }

  &__text {
    margin: 0;
    width: 100%;
    @extend %text;
    @extend %text_extend;
  }

  &__userContainer {
    @extend %userContainer;
    align-items: center;
    margin-top: 1.5rem;
    margin-right: 1.4rem;
  }

  &__user {
    margin-right: 1.2rem;
    @extend %text_extend;
  }

  &__name {
    @extend %name;
  }

  &__date {
    @extend %date;
  }

  &__avatar {
    @extend %avatar;
  }
}
