@use '../../styles/variables' as variables;

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8rem;

  &__title {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 0;
    font-weight: 400;
    padding-left: 2.2rem;
    letter-spacing: 0.5px;
  }

  &__containerLogin {
    padding-right: 2.2rem;
    display: flex;
    gap: 4rem;
  }

  &__containerLogout {
    padding-right: 2.2rem;
    display: flex;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    margin-left: 3rem;
    margin-right: 2.7rem;
  }

  &__userName {
    font-size: variables.$fontSize-M;
    line-height: variables.$lineHeight-XL;
    font-weight: normal;
    margin: 0;
  }
}
